.header{
    background: $dark-blue;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: $s-size 0;
}

.header__img{
    width: 10rem;
    height: 10rem;
}

.header__title{
    color: white;
    text-decoration: none;
    margin: 0;
}