//Colors
$light-green: #8EE4AF;
$green: #5CDB95;
$blue-green: #379683;
$dark-blue: #05386B;
$off-white: #EDF5E1;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
















